#commands {
	padding: 0;
}
.command {
	display: inline-block;
}
.command a {
	display:block;
	cursor: pointer;

	margin: 1em;
	border: 1px solid black;
	padding: 1em;
}

.command:first-child a {
	margin-left: 0;
}
.command:last-child a {
	margin-right: 0;
}