<!doctype html>
<html lang="en">
    <head>
        <title>Candy Wars</title>

         <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="/css/vendors/bootstrap-4.0.0.min.css" />
        <link href="/css/sandbox.css" rel="stylesheet" />

        <script src="/js/vendors/jquery-3.2.1.slim.min.js"></script>
        <script src="/js/vendors/popper-1.12.9.min.js"></script>
        <script src="/js/vendors/bootstrap-4.0.0.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <script src="/js/WebUtils.js"></script>
        <script src="/js/Log.js"></script>
        <script src="/js/GameObject.js"></script>
        <script src="/js/Storage.js"></script>

        <script src="/js/GameEngine.js"></script>
        <script src="/js/EventDispatcher.js"></script>
        <script src="/js/Registry.js"></script>

        <script src="/js/GameUtils.js"></script>
        <script src="/js/GameEvent.js"></script>
        <script src="/js/GameEvents.js"></script>

        <script src="/js/GameClock.js"></script>
        <script src="/js/SceneNode.js"></script>
        <script src="/js/Scene.js"></script>
        <script src="/js/SceneSelector.js"></script>

        <script src="/js/Command.js"></script>
        <script src="/js/NextSceneCommand.js"></script>
        <script src="/js/QuantityCommand.js"></script>
        <script src="/js/CommandParser.js"></script>

        <script src="/js/CommandsUI.js"></script>
        <script src="/js/TextUI.js"></script>

        <script src="/js/candy-wars/GameUI.js"></script>
        <script src="/js/candy-wars/CandyWars.js"></script>
        <script src="/js/candy-wars/CustomGameEvents.js"></script>
        <script src="/js/candy-wars/GameLocation.js"></script>
        <script src="/js/candy-wars/GameLocationUI.js"></script>
        <script src="/js/candy-wars/GameStates.js"></script>
        <script src="/js/candy-wars/Home.js"></script>
        <script src="/js/candy-wars/Inventory.js"></script>
        <script src="/js/candy-wars/Merchandise.js"></script>
        <script src="/js/candy-wars/MoneyLender.js"></script>
        <script src="/js/candy-wars/Vendor.js"></script>
        <script src="/js/candy-wars/Wealth.js"></script>
        <script src="/js/candy-wars/WealthUI.js"></script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Candy Wars</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/index.html">Other Games</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/candy-wars.html">Candy Wars</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="container-fluid">
            <div class="row">
                <main class="col-12" id="game-canvas">
                    <div id="status" class="row sticky-top bg-secondary mb-2 pt-2 pb-2 text-white">
                        <div id="gameClock-container" class="col-sm-2">
                            <game-clock v-bind:game-clock="gameClock"></game-clock>
                        </div>
                        <div id="wealth-container" class="col-sm-3">
                            Wealth: <span class="wealth"></span><br />
                            Borrowed: <span class="borrowed"></span>
                        </div>

                        <div id="location-container" class="col-sm-6">
                            Location: <span class="label"></span>
                        </div>
                    </div>

                    <h2>Description</h2>
                    <description v-bind:description="description"></description>

                    <h2>Inventory</h2>
                    <ul id="inventory" v-if="inventory.keys().length > 0" class="list-group">
                        <inventory-item v-for="(quantity, name) in inventory" v-bind:name="name" v-bind:quantity="quantity" :key="item.name"></inventory-item>
                    </ul>
                    <div v-else>
                        You have nothing in your inventory.
                    </div>

                    <h2>Commands</h2>
                    <ul id="commands" class="list-group">
                    </ul>

                    <!--
                    <ul>
                        <li class="merchandise-command list-group-item list-group-item-action">
                            <form class="form-inline">
                                <div class="form-group mr-sm-2 mb-2">
                                    <input type="text" id="quantity-command" class="form-control"></input>
                                </div>
                                <button class="btn btn-primary mb-2 mr-sm-1" type="submit" value="buy">Buy @ $4.03</button>
                                <button class="btn btn-primary mb-2" type="submit" value="sell">Sell @ $3.01</button>
                            </form>

                        </li>
                    </ul -->
                </main>
            </div>
        </div>

        <div class="templates" style="display:none">
            <li class="template command list-group-item list-group-item-action">
                <a href="#">
                    <div class="label"></div>
                </a>
            </li>

            <li class="template quantity-command list-group-item list-group-item-action">
                <form class="form-inline">
                    <div class="form-group mr-sm-2 mb-2">
                        <label class="col-form-label mr-2">Item name</label>
                        <input type="text" id="quantity-command" class="form-control"></input>
                    </div>
                    <!-- Button actions get inserted here. -->
                </form>
            </li>

            <button class="template quantity-command-submit btn btn-primary mb-2 mr-2" type="submit">Button action</button>

            <li class="template inventory-item list-group-item">
                <span class="name"></span><span class="quantity"></span>
            </li>
        </div>
    </body>
</html>
